body{
    font-family: 'Comic Sans Ms';
}
.site-heading-lower{
    font-family: 'Comic Sans Ms';
}
.mb-3{
    font-family: 'Comic Sans Ms';
    color: yellow !important;
}
.notyellow{
    color:black !important;
}
.intro-text{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5)
}
.section-heading-lower{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5)
}